app-sidebar {
  background-color: #e6f0ff;
  padding: 1rem;
  border-right: 1px solid #ccc;
}
.sidebar {
  width: 200px;
  height:100%;
  background-color: #e6f0ff;
  padding: 1rem;
  border-right: 1px solid #ccc;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  margin: 1rem 0;
  cursor: pointer;
}
